body {
    margin-top: var(--menu-height);
}

h2 {
    margin: 60px 0 50px;
    color: var(--dark-grey);
    font-size: var(--section-title-size);
    line-height: 2.5rem;
    text-align: center;
    position: relative;
}
h2:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--dark-grey);
    width: 32px;
    height: 3px;
    opacity: .6;
}
