.space-banner-post{
    max-width: 810px;
    height: 320px;
    background-color: #ccc;
    border-radius: 16px;
    overflow: hidden;
}
.c-loader {
    display: none;
    animation: is-rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #3B4157;
    height: 32px;
    width: 32px;
}

#latest-posts .latest-posts-item{
    display: flex;
}
.latest-posts-notpost{
    display: flex;
    color: #3B4157;
    margin: 100px auto 50px;
    border: none;
    background-color: transparent;
    font-size: 1.75rem;
    font-weight: 700;
    cursor: pointer;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.latest-posts-notpost:hover{
    cursor: unset;
}

.news-carousel .news-item .item-head .banner{
    height: 240px;
    background-position-y: 40%;
    background-position-x: center;
    background-size: cover;
}
body.with-sidebar h1{
    margin-top: 80px;
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}
/*
@media (min-width: 375px){
    #latest-posts .latest-posts-item .image {
        width: 100%;
        /*max-width: 120px;
    }
}
*/

@media(min-width: 768px){
    #latest-posts .latest-posts-item .image{
        /*width: 220px;*/
        height: 160px;
    }
    #latest-posts .latest-posts-item .text{
        width: 70%;
    }
}
@media(max-width: 767px){
    #latest-posts .latest-posts-item .image{
        /*flex-basis: 30%;*/
        height: 120px;
    }
    #latest-posts .latest-posts-item .text{
        flex-basis: 65%!important;
    }
    .news-carousel .news-item .item-head .banner{
        height: 300px;
    }
    article .article-head .author{
        display: flex;
        vertical-align: middle;
    }
    article .article-head .author p{
        display: flex;
        margin: 5px 5px 5px 10px!important;
        padding: 0;
        align-self: unset;
    }
    article .article-head .author time{
        margin: 6px 5px 4px!important;
        padding: 0;
        align-self: unset;
    }
}
@media(max-width: 600px){
    .news-carousel .news-item .item-head .banner{
        height: 230px;
    }
}
@media(max-width: 415px){
    .news-carousel .news-item .item-head .banner{
        height: 160px;
    }
}
@media(max-width: 380px){
    .news-carousel .news-item .item-head .banner{
        height: 140px;
    }
    #latest-posts .latest-posts-item .image{
        /*flex-basis: 30%;*/
        height: 120px;
    }
    #latest-posts .latest-posts-item .text{
        flex-basis: 65%;
    }
}

@media(max-width: 379px){
    #latest-posts .latest-posts-item .image{
        width: 90px;
        height: 90px;
    }
}
@media(max-width: 320px){
    .news-carousel .news-item .item-head .banner{
        height: 110px;
    }
    #latest-posts .latest-posts-item .image{
        width: 80px;
        height: 80px;
    }
}
@media(max-width: 319px){
    #latest-posts .latest-posts-item .image{
        width: 67px;
        height: 67px;
    }
}
/*
@media(max-width: 380px){
    #latest-posts .latest-posts-item .image{
        flex-basis: 30%;
        height: 90px;
    }
    
}
*/