.space-banner-post{
    max-width: 810px;
    height: 320px;
    background-color: #ccc;
    border-radius: 16px;
    overflow: hidden;
}
.c-loader {
    display: none;
    animation: is-rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #3B4157;
    height: 32px;
    width: 32px;
}

#latest-posts .latest-posts-item{
    display: flex;
}
.latest-posts-notpost{
    display: flex;
    color: #3B4157;
    margin: 100px auto 50px;
    border: none;
    background-color: transparent;
    font-size: 1.75rem;
    font-weight: 700;
    cursor: pointer;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.latest-posts-notpost:hover{
    cursor: unset;
}

.news-carousel .news-item .item-head .banner{
    height: 240px;
    background-position-y: 40%;
    background-position-x: center;
    background-size: cover;
}
/*
body.with-sidebar h1{
    margin-top: 80px;
}
*/
.owl-stage{
    align-items: flex-start;
}

#whatsapp .btn{
    font-weight: 500;
}

.banner_single_post{
    width: 100%;
    height: 260px;
    background-position: center;
    background-size: cover;
}
article .article-head, article .article-body p{
    max-width: unset;
    margin-left: 0;
    margin-right: 0;
}
@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}
/* add */
.content-post-hover:hover h4.title {
    color: var(--orange);
}

/* reset to style for ads */
#cards .all-suplements, body.with-sidebar aside #products .all-suplements{
    padding: 0;
}
body.with-sidebar aside #products .all-suplements img{
    max-width: 100%;
}
body.with-sidebar aside #products .all-suplements h1,
body.with-sidebar aside #products .all-suplements h2,
body.with-sidebar aside #products .all-suplements h3,
body.with-sidebar aside #products .all-suplements h4,
body.with-sidebar aside #products .all-suplements h5,
body.with-sidebar aside #products .all-suplements h6{
    display: block;
    width: 100%;
    margin: 0;
}
body.with-sidebar aside #products .all-suplements h1{
    font-size: 32px;
}
body.with-sidebar aside #products .all-suplements h2{
   
    text-transform: unset;
}
.all-suplements h1::after{
    all: unset;
}
body.with-sidebar aside #products .all-suplements a:hover{
    cursor: pointer;
}

/* reset style from cards */
#cards .card{
    background: unset;
    padding: 0;
    display: flex;
}
#cards .card *{
    width: 100%;
}
#cards .card h1::after, #cards .card h2::after{
    all: unset;
}
#cards .card h1{
}

/*
@media (min-width: 375px){
    #latest-posts .latest-posts-item .image {
        width: 100%;
        /*max-width: 120px;
    }
}
*/

@media(min-width: 768px){
    #latest-posts .latest-posts-item .image{
        /*width: 220px;*/
        height: 160px;
    }
    #latest-posts .latest-posts-item .text{
        width: 70%;
    }
    #whatsapp{
        padding: 1.25rem;
        border-radius: 0.25rem;
    }
    #whatsapp p{
        max-width: unset;
    }
    #latest-posts .tab h4 {
        padding: 0.5rem 1.65rem;
    }
}
@media(max-width: 991px){
    #whatsapp{
        margin-top: 80px;
        border-radius: 0.25rem;
    }
}
@media(max-width: 767px){
    #latest-posts .latest-posts-item .image{
        /*flex-basis: 30%;*/
        height: 120px;
    }
    #latest-posts .latest-posts-item .text{
        flex-basis: 65%!important;
    }
    .news-carousel .news-item .item-head .banner{
        height: 300px;
    }
    article .article-head .author{
        display: flex;
        vertical-align: middle;
    }
    article .article-head .author p{
        display: flex;
        margin: 5px 5px 5px 10px!important;
        padding: 0;
        align-self: unset;
    }
    article .article-head .author time{
        margin: 6px 5px 4px!important;
        padding: 0;
        align-self: unset;
    }
    
}
@media(max-width: 600px){
    .news-carousel .news-item .item-head .banner{
        height: 230px;
    }
}
@media(max-width: 415px){
    .news-carousel .news-item .item-head .banner{
        height: 160px;
    }
    .banner_single_post{
        width: 100%;
        height: 160px;
    }
}
@media(max-width: 380px){
    .news-carousel .news-item .item-head .banner{
        height: 140px;
    }
    #latest-posts .latest-posts-item .image{
        /*flex-basis: 30%;*/
        height: 120px;
    }
    #latest-posts .latest-posts-item .text{
        flex-basis: 65%;
    }
}

@media(max-width: 379px){
    #latest-posts .latest-posts-item .image{
        width: 90px;
        height: 90px;
    }
}
@media(max-width: 320px){
    .news-carousel .news-item .item-head .banner{
        height: 110px;
    }
    #latest-posts .latest-posts-item .image{
        width: 80px;
        height: 80px;
    }
}
@media(max-width: 319px){
    #latest-posts .latest-posts-item .image{
        width: 67px;
        height: 67px;
    }
}
/*
@media(max-width: 380px){
    #latest-posts .latest-posts-item .image{
        flex-basis: 30%;
        height: 90px;
    }
    
}
*/